* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100svh;
  padding: 0 2rem;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #070707;
  text-align: center;
  background: fixed linear-gradient(transparent, #ffffff 70%),
    fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      )
      #ffffff;
}

h1 {
  font-size: calc(2.5rem, 2vw + 2rem, 6rem);
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;
}

.button {
  border-radius: 0.5rem;
  border: 1px solid #ff8059;
  display: inline-block;
  padding: 1rem 4rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: currentColor;
  outline: none;
  transition: all 0.25s ease-out;
}

.button:hover,
.button:focus-visible {
  color: #ffffff;
  background-color: #ff8059;
}
